<!-- TEAM - ABOUT US -->

 <section id="our-team" class="section">
	<div class="container">
		<div class="row">
		 <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
				<h2>Our Team</span></h2>
				<div class="border"></div>
			</div>
			<!-- Fatumo -->
			<div class="col-md-3 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="500ms">
               <div class="team-member">
					<div class="member-photo">
						<img class="img-responsive" src="images/team/team-1.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div> 
				 </div>
				 <div class="member-meta">
						<h4>Fatumo Abdullahi</h4>
						<span>Software Developer</span>
						<p>brand statement</p>
					</div>
               </div> 
 </div> 
 <!-- Dan -->
<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
               <div class="team-member">
					<div class="member-photo">
						<img class="img-responsive" src="images/team/team-2.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="member-meta">
						<h4>Daniel Bowden</h4>
						<span>Software Developer</span>
						<p>Software Developer</p>
					</div>
				</div>
            </div> 
			<!-- Humma -->
 <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
               <div class="team-member">
					<div class="member-photo"> 
						<img class="img-responsive" src="images/team/team-3.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="member-meta">
						<h4>Humma Noshine</h4>
						<span>Software Developer</span>
						<p>brand statement.</p>
					</div>
			
               </div>
            </div> 
		<!-- Sumaya -->
<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
               <div class="team-member">
					<div class="member-photo">
						<img class="img-responsive" src="images/team/team-4.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="member-meta">
						<h4>Sumaya Gure</h4>
						<span>Software developer</span>
						<p>brand statement</p>
					</div> 
</div>
            </div>
 </div>  	
	</div>   	
</section>   