
    <section class="features" id="features">

        <h1 class="heading"> <span>Add Exercise</span> </h1>

        <div class="box-container">
            <div class="responsive">
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="./images /icon2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Repeat Workout</h3>
                            <p>It's Your Workout, Your Time, Your Body, Own It!</p>
                            <a href="#" class="btn">click</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                        </div>
                        <div class="content">
                            <img src="./images /icon-1.png" alt="">
                            <h3>Follow Plan</h3>
                            <p>Keeping the plan helps you to understand your Exercises to hit your goals</p>
                            <a href="#" class="btn">click</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image"> 
                        </div>
                    <div class="content">
                        <img src="./images /icon-3.png" alt="">
                        <h3>new workouts</h3>
                        <p>¨Exercise is labor without weariness.¨ – Samuel Johnson</p>
                        <a href="#" class="btn">click</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>   
    <link rel="stylesheet" href="../public/css/style.css">