<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>

    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>

</head>

<body>


    <section class="features" id="features">

        <h1 class="heading"> <span>Add Exercise</span> </h1>

        <div class="box-container">
            <div class="responsive">
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="./images /icon2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Repeat Workout</h3>
                            <p>It's Your Workout, Your Time, Your Body, Own It!</p>
                            <a href="#" class="btn">click</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                        </div>
                        <div class="content">
                            <img src="./images /icon-1.png" alt="">
                            <h3>Follow Plan</h3>
                            <p>Keeping the plan helps you to understand your Exercises to hit your goals</p>
                            <a href="#" class="btn">click</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image"> 
                        </div>
                    <div class="content">
                        <img src="./images /icon-3.png" alt="">
                        <h3>new workouts</h3>
                        <p>¨Exercise is labor without weariness.¨ – Samuel Johnson</p>
                        <a href="#" class="btn">click</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
            <section class="service" id="services"></section>

            <h2 class="headings">our services</h2>

            <div class="box-container2">

                <div class="box2">
                    <img src="./images /chest.jpeg" alt="">
                    <div class="info">
                        <h3>Chest</h3>
                        <p>choose the right workouts for your legs</p>
                        <a href="#" class="btn1">get started</a>
                    </div>
                </div>

                <div class="box2">
                    <img src="./images /arms.jpeg" alt="">
                    <div class="info">
                        <h3>Arms</h3>
                        <p>choose the right workouts for your legs</p>
                        <a href="#" class="btn1">get started</a>
                    </div>
                </div>

                <div class="box2">
                    <img src="./images /legs.jpeg" alt="">
                    <div class="info">
                        <h3>legs</h3>
                        <p>choose the right workouts for your legs</p>
                        <a href="#" class="btn1">get started</a>
                    </div>
                </div>
                <div class="box2">
                    <img src="./images /weight.jpeg" alt="">
                    <div class="info">
                        <h3>weight</h3>2
                        <p>choose the right workouts for your legs</p>
                        <a href="#" class="btn1">get started</a>
                    </div>
                </div>
                <section id="services">
                    <h1 class="headings">our workouts</h1>
                    <div class="row">
                        <a href="#" target="_blank" class="box">
                            <img src="./Assets/css/283-2834622_big-instagram-logo-vector-instagram-icon-white-png.jpg"
                                alt="">
                            <h1 class="headings"> Arms</h1>
                        </a>
                        <a href="#" target="_blank" class="box">
                            <img src="./Assets/css/linkden.png" alt="">
                            <h2 class="headings"> Legs</h2>
                        </a>
                        <a href="#" target="_blank" class="box">
                            <img src="./Assets/css/Github Logo Vector - Designlogovector.jpeg" alt="">
                            <h1 class="headings"> chest </h1>
                        </a>
                        <a href="#" target="_blank" class="box">
                            <img src="" alt="">
                            <h1 class="headings"> Weight </h1>
                        </a>
                </section>
            </div>
        </div>
        <script src="./script.js"></script>
    </section>
