<div class="all">
<div class="container">
    <h2>Create a New Exercise Record</h2>
    <div id="main-questions">
		<h4>Which body part do you want to workout?</h4>
		<div class="form-group">
			<label class="boxes" for="icon-input"></label>
			<select name="icon-input" id="icon-input">
				<option value="1">Chest</option>
				<option value="2">Back</option>
				<option value="3">Legs</option>
				<option value="4">Arms</option>
				<option value="5">Core</option>
				<option value="6">Glutes</option>
			</select>
		</div>