<div class="row">
	<div id="create-exercise-box"class="col-md-6">
	  <h2>Create a New Exercise Record:</h2>

	<div id="image-selector">Placeholder: select an exercise image here.</div>
 
	<form class="form">
		<!-- Exercise Metadata - Exercise name, number of sets -->
	<div id="main-questions">
		<h3> What is the name of the exercise?</h3>
		<div class="form-group">
			<label class ="boxes" for="exercise-name">Name: </label>
			<input class="form-input" type="text" id="exercise-name"/>
		</div>

		<h3>How many sets in total?</h3>
		<div class="form-group">
		  <label class = "boxes" for="sets-input">Sets</label>
		  <input class="form-input" type="range" min="0" max="5" id="sets-input"/>
		</div>
	</div>

		<!-- Reps 1 - 5-->
	<div id="rep-form">
		<h3>How many reps for each set?</h3>
		<div class="form-group">
			<label class = "boxes" for="reps-1-input">1:</label>
			<input class="form-input" type="number" id="reps-1-input"/>
		  </div>
		<div class="form-group">
			<label class = "boxes" for="reps-2-input">2:</label>
			<input class="form-input" type="number" id="reps-2-input"/>
		</div>
		<div class="form-group">
			<label class = "boxes" for="reps-3-input">3:</label>
			<input class="form-input" type="number" id="reps-3-input"/>
		  </div>
		<div class="form-group">
			<label class = "boxes" for="reps-4-input">4:</label>
			<input class="form-input" type="number" id="reps-4-input"/>
		</div>
		<div class="form-group">
			<label class = "boxes" for="reps-5-input">5:</label>
			<input class="form-input" type="number" id="reps-5-input"/>
		  </div>
	</div>
		
		<!-- Weight 1 - 5-->
	<div id="weight-form">
		<h3>What weight did you use for each set?</h3>
		<div class="form-group">
			<label class = "boxes" for="weight-1-input">1:</label>
			<input class="form-input" type="number" id="weight-1-input"/>
		  </div>
		<div class="form-group">
			<label class = "boxes" for="weight-2-input">2:</label>
			<input class="form-input" type="number" id="weight-2-input"/>
		</div>
		<div class="form-group">
			<label class = "boxes" for="weight-3-input">3:</label>
			<input class="form-input" type="number" id="weight-3-input"/>
		  </div>
		<div class="form-group">
			<label class = "boxes" for="weight-4-input">4:</label>
			<input class="form-input" type="number" id="weight-4-input"/>
		</div>
		<div class="form-group">
			<label class = "boxes" for="weight-5-input">5:</label>
			<input class="form-input" type="number" id="weight-5-input"/>
		</div>
	</div>

		<div class="form-group">
		  <button class="btn btn-primary" id="create-exercise-button" type="submit">Complete exercise!</button>
		</div>
	</form>
	</div>
  <script src="/js/createExercise.js"></script>
</div>
