<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style2.css">
    <title>Document</title>
</head>
<body>

    <section id="services">
        <h1 class="heading"> <span>Choose Workouts</span> </h1>
        <div class="row">
            <a href="#" target="_blank" class="box">
                <h1 class="headings"> Arms</h1>
            </a>
            <a href="#" target="_blank" class="box">

                <h2 class="headings"> Legs</h2>
            </a>
            <a href="#" target="_blank" class="box">
                <h1 class="headings"> chest </h1>
            </a>
            <a href="#" target="_blank" class="box">
                <h1 class="headings"> Weight </h1>
            </a>
    </section>
</div>
</body>
</html>