
    <section id="services">
        <h1 class="heading"> <span>Choose Workouts</span> </h1>
        <div class="row">
            <a href="#" target="_blank" class="box">
                <h1 class="headings"> Arms</h1>
            </a>
            <a href="#" target="_blank" class="box">

                <h2 class="headings"> Legs</h2>
            </a>
            <a href="#" target="_blank" class="box">
                <h1 class="headings"> chest </h1>
            </a>
            <a href="#" target="_blank" class="box">
                <h1 class="headings"> Weight </h1>
            </a>
    </section>
</div>
