{{!-- Fatumos page --}}

<div class="fatumoscontainer">
 
	<div class="table">
		<div class="table-header" id="tablehead">TRACK MY EXERCISE ROUTINE</div>
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Exercise ID</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Workout ID</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Sets</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Reps</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Weight</a></div>
		</div>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data">123</div>
				<div class="table-data">123</div>
				<div class="table-data">3</div>
				<div class="table-data">2</div>
				<div class="table-data">15</div>
			</div>
			<div class="table-row">
				<div class="table-data">456</div>
				<div class="table-data">456</div>
				<div class="table-data">6</div>
				<div class="table-data">5</div>
				<div class="table-data">15</div>
			</div>
			<div class="table-row">
				<div class="table-data">789</div>
				<div class="table-data">789</div>
				<div class="table-data">2</div>
				<div class="table-data">3</div>
				<div class="table-data">15</div>
			</div>
		</div>	
	</div>
</div>

   
   <section class="bg-one about section">
	<div class="container">
		<div class="row">
			<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
				<div class="border"></div>
			</div>
				<div class="block">							
					<div class="icon-box">
						<i class="tf-tools"></i>
					</div>					
					<div class="content text-center">
						<h3 class="ddd">New Workout!</h3>								
						<p><a href="/newWorkout">Click here to add a new workout</a></p>
				
				</div>
			</div> 
			</div>
			</div>
			</section>