<!--End Workout button-->
        <button class="end-btn" role="button">End Workout</button>
    <!--Add Exercise button-->
        <button class="exercise-btn" role="button" onclick="console.log('clicked')">+ Add Exercise</button>
    <!--table-->
      <div class="background">
        <div class="container">
          <div class="panel pricing-table">
            
            <div class="plan">
              <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
              <h2 class="header">Exercise Type</h2>
              <ul class="features">
                <li class="features-item">Number of Sets and Reps</li>
                <li class="features-item">Weight lifted</li>
              </ul>
             
            </div>
            
            <div class="plan">
              <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
              <h2 class="header">Exercise Type</h2>
              <ul class="features">
                <li class="features-item">Number of Sets and Reps</li>
                <li class="features-item">Weight lifted</li>
              </ul>
      
            
            <div class="plan">
              <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
              <h2 class="header">Exercise Type</h2>
              <ul class="features">
                <li class="features-item">Number of Sets and Reps</li>
                <li class="features-item">Weight lifted</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>