<h1>poooooo</h1>
<div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Exercise ID</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Workout ID</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Sets</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Reps</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Weight</a></div>
		</div>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data">123</div>
				<div class="table-data">123</div>
				<div class="table-data">3</div>
				<div class="table-data">2</div>
				<div class="table-data">15</div>
			</div>
			<div class="table-row">
				<div class="table-data">456</div>
				<div class="table-data">456</div>
				<div class="table-data">6</div>
				<div class="table-data">5</div>
				<div class="table-data">15</div>
			</div>
			<div class="table-row">
				<div class="table-data">789</div>
				<div class="table-data">789</div>
				<div class="table-data">2</div>
				<div class="table-data">3</div>
				<div class="table-data">15</div>
			</div>
		</div>	
	</div>
</div>
main
=======
<!--End Workout button-->
        <button class="end-btn" role="button">End Workout</button>
    <!--Add Exercise button-->
        <button class="exercise-btn" role="button" onclick="console.log('clicked')">+ Add Exercise</button>
    <!--table-->
      <div class="background">
        <div class="container">
          <div class="panel pricing-table">
            
            <div class="plan">
              <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
              <h2 class="header">Exercise Type</h2>
              <ul class="features">
                <li class="features-item">Number of Sets and Reps</li>
                <li class="features-item">Weight lifted</li>
              </ul>
             
            </div>
            
            <div class="plan">
              <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
              <h2 class="header">Exercise Type</h2>
              <ul class="features">
                <li class="features-item">Number of Sets and Reps</li>
                <li class="features-item">Weight lifted</li>
              </ul>
      
            
            <div class="plan">
              <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
              <h2 class="header">Exercise Type</h2>
              <ul class="features">
                <li class="features-item">Number of Sets and Reps</li>
                <li class="features-item">Weight lifted</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>