{{!-- Fatumos page --}}
 
<div class="fatumoscontainer">
  <!--Add Exercise button-->
        <button class="exercise-btn" role="button"  onclick="console.log('clicked')">+ Add Exercise</button>
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Exercise ID</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Workout ID</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Sets</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Reps</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Weight</a></div>
		</div>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data">123</div>
				<div class="table-data">123</div>
				<div class="table-data">3</div>
				<div class="table-data">2</div>
				<div class="table-data">15</div>
			</div>
			<div class="table-row">
				<div class="table-data">456</div>
				<div class="table-data">456</div>
				<div class="table-data">6</div>
				<div class="table-data">5</div>
				<div class="table-data">15</div>
			</div>
			<div class="table-row">
				<div class="table-data">789</div>
				<div class="table-data">789</div>
				<div class="table-data">2</div>
				<div class="table-data">3</div>
				<div class="table-data">15</div>
			</div>
		</div>	
	</div>
</div>

   
   