
{{!-- sumaya page --}}
	<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
				<div class="border"></div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
				<div class="block">							
					<div class="icon-box">
						<img src="/images/icon-1.png" alt="image of arm" class="image-black">
					</div>					
			
					<div class="content text-center">
						<h3 class="ddd">Freestyle</h3>								
						<p><a href="/createNewExercise">Exercise is labor without weariness</a></p>
					</div>
				</div>
			</div> 

				<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<img src="./images/icon-2.png" alt="strong man" class="image-black">
					</div>
					<div class="content text-center">
						<h3>Follow a Plan</h3>
						<p><a href="/newWorkout">Keeping the plan helps you to understand your Exercises to hit your goals</a></p>
					</div>
				</div>
			</div> 				
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
							<img src="/images/icon-3.png" alt="image of a girl" class="image-black">
					</div>

					<div class="content text-center">
						<h3>Repeat Workout</h3>
						<p><a href="/newWorkout">It's Your Workout, Your Time, Your Body, Own It!</a></p>
					</div>
				</div>
			</div> 
		</div> 
	</div>   	
</section>  