
    <section class="features" id="features">

        <h1 class="heading"> <span>Add Exercise</span> </h1>

        <div class="container">
            <div class="row">
                    <div class="col order-last">
                            <h3>new workouts</h3>
                            <p>Exercise is labor without weariness</p>
                            <img src="./images/icon-1.png" alt="">
                            <a href="/createNewExercise" class="btn">click</a>
                    </div>
                    <div class="col">
                            <h3>Follow Plan</h3>
                            <p>Keeping the plan helps you to understand your Exercises to hit your goals</p>
                            <img src="./images/icon-2.png" alt="">
                            <a href="/createNewExercise" class="btn">click</a>
                    <div class="col order-first">
                            <h3>Repeat Workout</h3>
                            <p>It's Your Workout, Your Time, Your Body, Own It!</p>
                            <img src="./images/icon-3.png" alt="">
                <button type="/createNews" class="btn btn-primary">click</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>   
    