<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/profile.css">
<br>
<br>
<br>
{{!-- -------------------------------------------------------------------------------- --}}
<h1>My Profile</h1>
<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
				<div class="border"></div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
				<div class="block">							
					<div class="icon-box">
						<i class="tf-tools"></i>
					</div>					
			
					<div class="content text-center">
						<h3 class="ddd">New Workout!</h3>								
						<p><a href="/createNewExercise">Click here to add a new workout</a></p>
					</div>
				</div>
			</div> 

			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<i class="tf-strategy"></i>
					</div>
					<div class="content text-center">
						<h3>Workout History</h3>
						<p><a href="/history">Check out your History</a></p>
					</div>
				</div>
			</div> 				
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<i class="tf-anchor2"></i>
					</div>

					<div class="content text-center">
						<h3>Progress Calling</h3>
						<p><a href="/progress">Checkout your progress!!</a></p>
					</div>
				</div>
			</div> 
		</div> 
	</div>   	
</section>  


<div class="container">
<div class="profile">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-body text-center">
           <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar" alt="User avatar">
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">User info</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option selected="">Select country</option>
                <option>United Kingdom</option>
                <option>Canada</option>
                <option>Denmark</option>
                <option>Pakistan</option>
                <option>France</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Company name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Contact info</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Work number</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Mobile number</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">E-mail address</label>
            <div class="col-sm-10">
              <input type="email" class="form-control">
            </div>
          </div>
          </div>
        </div>
      </div>
<br>
<br>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Security</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Current password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">New password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <div class="checkbox">
                <input type="checkbox" id="checkbox_1">
                <label for="checkbox_1">Make this account public</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
