<h1>PROFILE think of what goes here</h1>


<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
				<div class="border"></div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
				<div class="block">							
					<div class="icon-box">
						<i class="tf-tools"></i>
					</div>					
			
					<div class="content text-center">
						<h3 class="ddd">New Workout!</h3>								
						<p><a href="/addExcersise">Click here to add a new workout</a></p>
					</div>
				</div>
			</div> 

			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<i class="tf-strategy"></i>
					</div>
					<div class="content text-center">
						<h3>Workout History</h3>
						<p><a href="/history">Check out your History</a></p>
					</div>
				</div>
			</div> 				
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<i class="tf-anchor2"></i>
					</div>

					<div class="content text-center">
						<h3>Progress Calling</h3>
						<p><a href="/progress">Checkout your progress!!</a></p>
					</div>
				</div>
			</div> 
		</div> 
	</div>   	
</section>  