{{!-- <h1>somethingsmeles</h1>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous" />
 <div class="container">
    <div class="wrapper">
      <label for="files" class="label">
        <input type="file" id="myfile" style="display:none" webkitdirectory directory />
        <i class="fas fa-download fa-2x"></i>
        <input type="button" value="..." id="filebtn" onclick="document.getElementById('myfile').click();" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>

  <script src="/js/images.js"></script> --}}

  <h1>UPLOAD YOUR PICTURES AND TRACK YOUR PROGRESS</h1>
  <div>
<form id="imageForm">
    <input id="imageInput" type="file" accept="image/*">
    <button class="btn" type="submit">Upload</button>
</form>
  </div>

<script src="/js/s3images.js"></script>

{{!-- hn new --}}