
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
  <h1>UPLOAD YOUR PICTURES AND TRACK YOUR PROGRESS</h1>
  <div>
<form id="imageForm">
    <input class= "something" id="imageInput" type="file" accept="image/*">
    <button class="btn" type="submit">Upload</button>
</form>
  </div>
<br>
<br>
<br>
<div class="container" id = "smells">
  <div class = "column">

  </div>
    <div class = "column">
    
  </div>
    <div class = "column">
    
  </div>
</div>
<script src="/js/s3images.js"></script>

{{!-- hn new --}}