<!-- Video -->
<section class="hero-area overlay">
 <video autoplay muted loop class="hero-video">
		<source src="/css/video/Gym Promo video_Gym commercial_Cinematic fitness film_Gym Motivation_Fitness promo video_Sony a7III.mp4" type="video/mp4">
	</video> 
 <div class="block">
		<h1>Weight a Minute!</h1>
		<p>Don't waste a minute, Weigh it instead..</p>
		<a data-scroll href="/dashboard" class="btn btn-transparent">DASHBOARD</a>
	</div>
</section> 

<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
				<div class="border"></div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
				<div class="block">							
					<div class="icon-box">
						<i class="tf-tools"></i>
					</div>					
			
					<div class="content text-center">
						<h3 class="ddd">New Workout!</h3>								
						<p><a href="/createNewExercise">Click here to add a new workout</a></p>
					</div>
				</div>
			</div> 

			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						{{!-- <img src ="/.png" alt ="arm pic"/> --}}
					</div>
					<div class="content text-center">
						<h3>Workout History</h3>
						<p><a href="/history">Check out your History</a></p>
					</div>
				</div>
			</div> 				
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<i class="tf-anchor2"></i>
					</div>

					<div class="content text-center">
						<h3>Progress Calling</h3>
						<p><a href="/progress">Checkout your progress!!</a></p>
					</div>
				</div>
			</div> 
		</div> 
	</div>   	
</section>  