
body{
    margin-top:20px;
    background:#353b43;
  }
  
  .col-sm-9{
    width: 50%;
  }
  
  h1{
    display: flex;
    justify-content: center;
  }
  /**
  * Panels
  */
  /*** General styles ***/
  
  
  .panel {
  background-color: transparent;
  }
  .panel-heading {
  border-bottom: 0;
  }
  .panel-title {
  font-size: 17px;
  }
  .panel-title > small {
  font-size: .75em;
  color: #999999;
  }

  .panel-footer {
  border-top: 0;
  }
  
  .panel-default > .panel-heading {
    color: #333333;
  
  }
  
  form label {
    color: #999999;
    font-weight: 400;
  }
  .profile {
  
    display: flex;
    justify-content: center;
  }
  
  .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
  }
  @media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
  }
  
  .profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
  }
  .profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
  }
  .profile-avatar {
  /* width: 200px; */
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  
  }
